*.exe
VERSION
*.swp
*.un~
output/
.vscode
*.syso
installer/*.msi
installer/*.wixpdb
local/
.idea/*
!/.idea/
!/.idea/inspectionProfiles/
!/.idea/inspectionProfiles/Project_Default.xml
!/.idea/copyright/
!/.idea/copyright/*
